h2 {
  color: #444;
  padding-left:10px;
  margin-right:auto;
  flex: 2;
}

.ord-p {
  flex: 1;
  font-weight: bold;
  color:#444;
}

.head-order-cont{
  display: flex;
  align-items: center;
}

.order-container {
  display: flex;
  flex-direction: column;
  border: 1px solid #eee;
  border-radius: 5px;
  overflow: hidden;
  background-color: #ccc;
}

.order-row {
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid #eee;
  color:#242424
}

.order-row:last-child {
  border-bottom: none;
}

.order-cell {
  flex: 1;
  padding: 10px;
}

.header {
  font-weight: bold;
  background-color: #444444;
  color:#eee;
}

/* orders media queries for ipad and smaller */
@media screen and (max-width: 768px) {
  .order-container {
    flex-direction: row;
    flex-wrap: wrap;
  }
  
  .order-row {
    flex-direction: column;
    border-bottom: none;
  }
  
  .order-cell {
    flex: none;
    padding: 10px;
  }
  
  .header {
    font-weight: bold;
    background-color: #444444;
    padding: 10px;
  }
}